:root {
    --dark: #16191c;
    --dark-x: #1e2126;
    --light: #ffffff;
}

body {
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
    color: white;
    margin: 0;
    padding: 0;
}

.bg-dark {
    background-color: var(--dark) !important;

}

.bg-dark-x {
    background-color: var(--dark-x);
}

.form-control, .btn {
    min-height: 3.125rem;
    line-height:  initial;
}

.instagram, .facebook {
    width: 30px;
    height: 30px;
    margin: 5px;
    
}


.facebook:hover {
    
    background-color: lightblue;
    border-radius: 10px;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

.instagram:hover {
    background-color: lightcoral;
    border-radius: 10px;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}


/* 
.img-1 {
    background-image: url('assets/images/undraw_creative_experiment_8dk3.svg');
    background-size: cover;
    background-position: center;
}

.img-2 {
    background-image: url('assets/images/undraw_open_source_1qxw.svg');
    background-size: cover;
    background-position: center;
}

.img-3 {
    background-image: url('assets/images/undraw_Operating_system_re_iqsc.svg');
    background-size: cover;
    background-position: center;
}
*/


