:root {
    --dark: #16191c;
    --dark-x: #1e2126;
    --light: #ffffff;
}

body {
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
    color: white;
}

.bg-dark {
    background-color: var(--dark) !important;

}

.bg-dark-x {
    background-color: var(--dark-x);
}

.form-control, .btn {
    min-height: 3.125rem;
    line-height:  initial;
}

/* 
.img-1 {
    background-image: url('assets/images/undraw_creative_experiment_8dk3.svg');
    background-size: cover;
    background-position: center;
}

.img-2 {
    background-image: url('assets/images/undraw_open_source_1qxw.svg');
    background-size: cover;
    background-position: center;
}

.img-3 {
    background-image: url('assets/images/undraw_Operating_system_re_iqsc.svg');
    background-size: cover;
    background-position: center;
}
*/

